* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  overflow-x: hidden;
}

.wrapper {
  padding: 0 10% 10% 10%;
}
.wrapper .timepicker-cf {
  height: 60px;
  width: 100%;
}
.wrapper .timepicker {
  position: absolute;
  top: 200px;
  width: 80%;
  height: 0px;
  background: #667483;
  overflow: hidden;
}
.wrapper .timepicker .owl, .wrapper .timepicker .owl-stage {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
.wrapper .timepicker .owl .owl-item, .wrapper .timepicker .owl-stage .owl-item {
  font-size: 1.1em;
  display: inline-block;
  font-weight: 600;
  color: white;
  text-align: center;
  min-width: 100px;
  opacity: 0.4;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.wrapper .timepicker .owl .center-n, .wrapper .timepicker .owl-stage .center-n {
  font-size: 1.5em;
  opacity: 0.7;
}
.wrapper .timepicker .owl .center, .wrapper .timepicker .owl-stage .center {
  font-size: 2em;
  opacity: 1;
}
.wrapper .fade-l {
  position: absolute;
  height: 100%;
  width: 150px;
  left: 0;
  top: 0;
  background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.wrapper .fade-r {
  position: absolute;
  height: 100%;
  width: 150px;
  right: 0;
  top: 0;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}
.wrapper .owl-prev, .wrapper .owl-next {
  z-index: 20;
  position: absolute;
  width: 20px;
  top: 20px;
  color: #667483;
  cursor: pointer;
  transition: .2s ease-in-out;
  background: none;
  border: 0;
  font-size: 1em;
}
.wrapper .owl-prev {
  left: 20px;
}
.wrapper .owl-prev:before {
  content: '\f053';
  font-family: FontAwesome;
}
.wrapper .owl-prev:hover {
  left: 18px;
  transition: .2s ease-in-out;
}
.wrapper .owl-next {
  right: 20px;
}
.wrapper .owl-next:hover {
  right: 18px;
  transition: .2s ease-in-out;
}
.wrapper .owl-next:before {
  content: '\f054';
  font-family: FontAwesome;
}

.inner-wrap {
  padding: 0 10%;
}
.inner-wrap .request {
  width: 100%;
  height: 50px;
  text-align: left;
  padding: 0 20px;
  border: none;
  background: #667483;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  transition: all .2s ease-in-out;
  opacity: 1;
  position: relative;
}
.inner-wrap .request br {
  display: none;
}
.inner-wrap .request .sendRequest {
  position: absolute;
  right: 20px;
  top: 16px;
}
.inner-wrap .request .sendRequest:before {
  content: '\f054';
  font-family: FontAwesome;
}
.inner-wrap .request:hover {
  padding-right: 15px;
  transition: all .2s ease-in-out;
}
.inner-wrap .request.disabled {
  opacity: 0.8;
  pointer-events: none;
  background: #888d93;
  transition: all .3s ease-in-out;
}
.inner-wrap .disabled span {
  display: none;
}
.inner-wrap input {
  border: none;
}
.inner-wrap .form-name {
  display: flex;
  position: relative;
  height: 50px;
  align-items: flex-end;
  margin-bottom: 13px;
}
.inner-wrap .form-name label, .inner-wrap .form-name input {
  font-size: 1em;
  font-weight: 600;
  color: #667483;
}
.inner-wrap .form-name label {
  position: absolute;
  margin: 0;
  left: 10px;
  top: 15px;
  transition: all 250ms ease 0s;
}
.inner-wrap .form-name input {
  height: 80%;
  width: 100%;
  border-bottom: 2px solid #667483;
  padding: 0 10px;
}
.inner-wrap .form-name input:focus {
  outline: none;
}
.inner-wrap .form-name input:focus + label {
  font-size: 0.8em;
  left: .15rem;
  top: 0%;
}
.inner-wrap .form-name input:invalid {
  border-bottom: 2px solid #c23616;
  color: #c23616;
}
.inner-wrap .form-name input:invalid + label {
  font-size: 0.8em;
  color: #c23616;
  left: .15rem;
  top: 0%;
}
.inner-wrap .form-name:last-of-type {
  margin-bottom: 50px;
}

#calendar {
  overflow: hidden;
  position: relative;
}
#calendar .header .overlay {
  width: 100%;
  height: 100%;
  background: rgba(106, 102, 95, 0.6);
  color: #fff;
  padding: 3% 5%;
  display: flex;
  align-items: flex-end;
}
#calendar .header h1 {
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 1%;
}
#calendar .monthChange {
  background: #fff;
  width: 100%;
  height: 0;
  position: absolute;
  top: 160px;
  z-index: 20;
}
#calendar .ui-datepicker {
  display: none;
  width: 100%;
  margin: auto;
  padding: 30px 10% 30px 10%;
  text-transform: uppercase;
  background: #fff;
  transition: all .2s ease-in-out;
}
#calendar .ui-datepicker .ui-datepicker-header {
  position: relative;
  margin-bottom: 10px;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  text-align: center;
  font-weight: 700;
  color: #353C42;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-title .ui-datepicker-month {
  position: relative;
  padding-right: 5px;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  top: -5px;
  position: absolute;
  padding: 5px;
  cursor: pointer;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  left: 0;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  right: 0;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:before {
  content: "\f053";
  font-family: FontAwesome;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next:after {
  content: "\f054";
  font-family: FontAwesome;
}
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev span,
#calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
  display: inline-block;
  text-indent: -9999px;
}
#calendar .ui-datepicker .ui-datepicker-calendar {
  width: 100%;
}
#calendar .ui-datepicker .ui-datepicker-calendar th {
  line-height: 30px;
  padding-top: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 0.95em;
  color: #667483;
}
#calendar .ui-datepicker .ui-datepicker-calendar td {
  padding: 0 7px;
  text-align: center;
  height: 34px;
  font-weight: 600;
  cursor: pointer;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}
#calendar .ui-datepicker .ui-datepicker-calendar td:hover {
  background: #efefef;
  transition: all .2s ease-in-out;
}
#calendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day {
  background: #dbdbdb;
  border-bottom: 2px solid #353c42;
}
#calendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day.open {
  margin-bottom: 100px;
}
#calendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today .ui-state-default {
  border-bottom: 2px solid rgba(53, 60, 66, 0.5);
}
#calendar .ui-datepicker .ui-datepicker-calendar .ui-state-default {
  text-decoration: none;
  color: #353C42;
}
#calendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-other-month {
  pointer-events: none;
}
#calendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-other-month .ui-state-default {
  color: #919BA3;
}

@media only screen and (max-width: 600px) {
  .wrapper .inner-wrap .request br {
    display: block;
  }
}
