
table {
    /*background: rgb(114, 180, 158);*/
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px 5px;
    box-shadow: 0 0 20px rgba(17, 1, 1, 0);
    
}

.coluna-titulo {
    text-align: center;
    border-right: 2px solid black;
}

.letra-mes {
    font-size: 25px;

}

.botao {
    margin: 0px; 
    border-radius: 5px;
    font-size: 5px;
}


.fundo-verde {
    background-color: rgb(149, 223, 180);
}

.fundo-vermelho {
    background-color: rgb(223, 154, 149);
}

.alerta {
    max-width: 380px;
    padding: 15px;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(17, 1, 1, 0.123);
    border-radius: 5px;
    text-align: center;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}


a:hover {
    
    color: rgb(59, 59, 59);
}

a:link {

}

a:active {

}

a:visited {

}