*{
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing:border-box;
  margin:0;
  padding:0;
}
body, html{
  overflow-x:hidden;
}
.wrapper{
  padding: 0 10% 10% 10%;
  
  .timepicker-cf{
    height:60px;
    width:100%;
  }
  .timepicker{
    position:absolute;
    top:200px;
    width:80%;
    height:0px;
    background:#667483;
    overflow:hidden;
      .owl, .owl-stage{
        width:100%;
        height:60px;
        display:flex;
        align-items: center;
        .owl-item{
          font-size:1.1em;
          display:inline-block;
          font-weight:600;
          color:white;
          text-align:center;
          min-width:100px;
          opacity:0.4;
          cursor:pointer;
          transition:all .2s ease-in-out;
        }
        .center-n{
          font-size:1.5em;
          opacity:0.7;
        }
        .center{
          font-size:2em;
          opacity:1;
        }
      }
    }
    .fade-l{
      position:absolute;
      height:100%;
      width:150px;
      left:0;
      top:0;
      background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
    }
    .fade-r{
      position:absolute;
      height:100%;
      width:150px;
      right:0;
      top:0;
      background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    }
    .owl-prev, .owl-next{
      z-index:20;
      position:absolute;
      width:20px;
      top:20px;
      color:#667483;
      cursor:pointer;
      transition:.2s ease-in-out;
      background:none;
      border:0;
      font-size:1em;
    }
    .owl-prev{
      left:20px;
      
      &:before{
        content: '\f053';
        font-family: FontAwesome;
      }
      &:hover{
        left:18px;
        transition:.2s ease-in-out;
      }
    }
    .owl-next{
      right:20px;
      
      &:hover{
        right:18px;
        transition:.2s ease-in-out;
      }
      &:before{
        content: '\f054';
        font-family: FontAwesome;
      }
    }
  }
  .inner-wrap{
    padding:0 10%;
    
    .request{
      width:100%;
      height:50px;
      text-align:left;
      padding:0 20px;
      border:none;
      background:#667483;
      color:#fff;
      font-weight:600;
      font-size:1em;
      cursor:pointer;
      transition:all .2s ease-in-out;
      opacity:1;
      position:relative;
      br{
        display:none;
      }
      .sendRequest{
        position:absolute;
        right:20px;
        top:16px;
        
        &:before{
          content: '\f054';
          font-family: FontAwesome;
        }
      }
      &:hover{
        padding-right:15px;
        transition:all .2s ease-in-out;
      }
      &.disabled{
        opacity:0.8;
        pointer-events:none;
        background:#888d93;
        transition:all .3s ease-in-out;
      }
    }
    .disabled span{
      display:none;
    }
    input{
      border: none;
    }
    .form-name {
      display: flex;
      position: relative;
      height: 50px;
      align-items: flex-end;
      margin-bottom:13px;
      label, input{
        font-size: 1em;
        font-weight:600;
        color: #667483;
      }
      label{
        position: absolute;
        margin: 0;
        left: 10px;
        top: 15px;
        transition: all 250ms ease 0s;
      }
      input{
        height: 80%;
        width:100%;
        border-bottom: 2px solid #667483;
        padding: 0 10px;
        &:focus{
          outline: none;
        }
        &:focus + label{
          font-size: 0.8em;
          left: .15rem;
          top: 0%;
        }
        &:invalid{
          border-bottom: 2px solid #c23616;
          color:#c23616;
        }
        &:invalid + label{
          font-size: 0.8em;
          color: #c23616;
          left: .15rem;
          top: 0%;
        }
      }
      &:last-of-type{
        margin-bottom:50px;
      }
    }
  }
  #calendar{
    overflow:hidden;
    position:relative;
    .header{
      width:100%;
      height:160px;
      background-image:url('http://www.wallnoefer.it/fileadmin/_processed_/csm_terminvereinbarung_902fa70775.jpg');
      background-size:100% auto;
      .overlay{
        width:100%;
        height:100%;
        background:rgba(106, 102, 95, 0.6);
        color:#fff;
        padding:3% 5%;
        display:flex;
        align-items:flex-end;
      }
      h1{
        font-size:2em;
        font-family: 'Playfair Display', serif;
        font-weight:700;
        letter-spacing:1%;
      }
    }
    .monthChange{
      background:#fff;
      width:100%;
      height:0;
      position:absolute;
      top:160px;
      z-index:20;
    }

    .ui-datepicker{
      display: none;
      width: 100%;
      margin:auto;
      padding:30px 10% 30px 10%;
      text-transform: uppercase;
      background: #fff;
      transition:all .2s ease-in-out;
      .ui-datepicker-header {
        position: relative;
        margin-bottom: 10px;

        .ui-datepicker-title { 
          text-align: center;
          font-weight:700;
          color:#353C42;

          .ui-datepicker-month {
            position: relative;
            padding-right:5px;
          }
        }
        .ui-datepicker-prev,
        .ui-datepicker-next {
          top:-5px;
          position: absolute;
          padding: 5px;
          cursor: pointer;
        }
        .ui-datepicker-prev {
          left:0;
        }
        .ui-datepicker-next {
          right:0;
        }
        .ui-datepicker-prev:before{
          content: "\f053";
          font-family: FontAwesome;
        }
        .ui-datepicker-next:after{
          content: "\f054";
          font-family: FontAwesome;
        }
        .ui-datepicker-prev span,
        .ui-datepicker-next span{
          display: inline-block;
          text-indent: -9999px;
        }
      }
      .ui-datepicker-calendar{
        width:100%;
        th{
          line-height: 30px;
          padding-top: 15px;
          text-align: center;
          font-weight: 600;
          font-size:0.95em;
          color: #667483;
        }
        td{
          padding: 0 7px;
          text-align: center;
          height:34px;
          font-weight:600;
          cursor:pointer;
          box-sizing:border-box;
          transition:all .2s ease-in-out;
          
          &:hover{
            background:#efefef;
            transition:all .2s ease-in-out;
          }
        }
        .ui-datepicker-current-day{
          background:#dbdbdb;
          border-bottom:2px solid rgb(53, 60, 66);
          &.open{
            margin-bottom:100px;
          }
        }
        .ui-datepicker-today{
          .ui-state-default{
            border-bottom:2px solid rgba(53, 60, 66, 0.5);
          }
        }
        .ui-state-default{
          text-decoration:none;
          color: #353C42;
        }
        .ui-datepicker-other-month{
          pointer-events:none;
          .ui-state-default{
            color: #919BA3;
          }
        }
      }
    }
}
@media only screen and (max-width: 600px)  {
  .wrapper .inner-wrap .request br{
    display:block;
  }
}