html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

table {
  width: 100%;
  min-width: 70em;
  border-collapse: collapse;
  table-layout: fixed;
}

.date-column {
  width: 8em;
  border-left: none;
  border-top: none;
}

thead th {
  border-left: 1px solid #888;
  border-top: 1px solid #888;
  border-right: 1px solid #888;
}

th, td {
  vertical-align: middle;
  padding: .2em .4em;
  font-size: .8em;
}

tbody th {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  border-left: 1px solid #888;
  text-align: right;
}

tbody td {
  border-left: 1px solid #ccc;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

tbody tr {
  border-right: 1px solid #888;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

.hour-start {
  border-left: 1px solid #888;
}

.lesson {
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: #888;
}

.lesson--group {
  background-color: #ab3467;
}

.lesson--private {
  background-color: #3467ab;
}

.lesson--writing {
  background-color: #67ab34;
}

