/*Fontes

font-family: 'Exo', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Josefin Sans', sans-serif;

*/
* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    
    background-image: url("../media/medico.png");
    background-size: 30%;
    background-position: right 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: whitesmoke !important;
}

.border {
    border: 1px solid rgb(81, 231, 231);
    border-radius: 5px;
    border-top-left-radius: 0%;
    
    padding: 20px;
    width: 50%;
}

/*Inputs*/

div.input-group {
    margin-bottom: 5px;
}


input.form-control {
     
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

input#name, input#crm, input#appointment_day {
    
    margin-bottom: 5px;
}

input#appointment_hour_start_all, input#appointment_hour_start_mon, input#appointment_hour_start_tue, input#appointment_hour_start_wed, input#appointment_hour_start_thu, input#appointment_hour_start_fri {
    
    width: 20%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 20px;
}

input#appointment_hour_end_all, input#appointment_hour_end_mon, input#appointment_hour_end_tue, input#appointment_hour_end_wed, input#appointment_hour_end_thu, input#appointment_hour_end_fri {
    
    width: 20%;
    border-radius: 10px;
    margin-left: 20px;
}

input.hour-inline {
    display: inline;
}

span.span-ate {
    float: left;
    margin-top: 10px;
}

span#qua {
    padding-right: 7px;
}

button#show_all_days {
    margin-bottom: 10px;
    
}

button#agenda, button#perfil, button#ver-historico, button#sair {
    background-color: rgb(81, 231, 231);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: 0;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.btn.btn-default {
    border-radius: 20px;
    border: 0;
    background-color: rgb(81, 231, 231);
    color: white;
    font-weight: bold;

    margin-top: 20px;
}

/*Header*/
.header img {
    display: inline;
}

.header h1 {
    font-family: 'Lobster', cursive;
    display: inline;
}

.header-perfil h1 {
    display: inline;
    font-size: 25px;
}

.hist {
    margin-left: 30px;
    margin-top: 0px;
}

/*Table*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    text-align: center;
}

/*-------------------*/

button#hist {
    padding-bottom: 3px;
}

textarea {
    margin-top: 10px !important;
}

div#result-historico {
    margin-top: 10px;
}